<html>
  <head>
    <title>Flask Intro - Calculate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Calculate</h1>
      <br>
      <form method="post">
        <input type="text" placeholder="Num1 and expression and NUM2" name="result" />
        <input type="submit" value="equal" />
      </form>
    </div>
  </body>
</html>
